// bower:scss
@import "bourbon/dist/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower
@import "base/base";
@import "components/pushy";
@import "components/menu";
@import "components/social_links";

// Sections
@import "sections/ovini";
@import "sections/for_whom";
@import "sections/location";
@import "sections/organizers";
@import "sections/register";
@import "sections/schedule";
@import "sections/lightningtalks";
@import "sections/speakers";
@import "sections/sponsors";
@import "sections/workshop";

body {
  // overflow: hidden;
}
