
.for-whom {
  position: relative;
  padding-top: 50px;
  position: relative;
  z-index: 300;
  .section-title {
    position: relative;
    z-index: 301;
  }
}
.for-whom .cloud {
  background: url('../images/cloud.png') center top repeat-x;
  position: absolute;
  height: 190px;
  width: 100%;
  top: -140px;
  left: 0;
  z-index: 300;
}

.for-whon-wrapper {
  @include outer-container;
}


.for-whom-list {
  margin-top: 95px;
  margin-bottom: 50px;
  @include row();
  li {
    width: 20%;
    float: left;
    @include media($mobile) {
      @include span-columns(4);
    }
    .persona {
      text-align: center;
      display: block;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 45px;
      text-transform: uppercase;

    }
    .description {
      text-align: center;
      font-size: 14px;
      line-height: 19px;
      padding: 0 20px;
    }
    img {
      margin-bottom: 34px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    @include transition(all 300ms ease-in-out);

    &:hover {
      img {
        opacity: 0.7;
      }
    }
    
  }
}



















