.lightningtalks {
    position: relative;

    padding-bottom: 290px;

    color: #fff;
    background: #0c1123 url("../images/stars-section.jpg") center top;
    // outline: yellow dotted;

    @include media($mobile) {
        @include span-columns(6);
        .section-title {
            color: $white !important;
        }
    }

    .bottom-cloud {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 200;

        width: 100%;
        height: 201px;

        background: url("../images/bottom-clouds.png") center top repeat-x;
    }
}

.moon-wrapper {
    position: relative;
    .moon-content {
        position: relative;
        z-index: 400;

        padding: 326px 0 0 0;

        color: #000;

        @include outer-container;
        @include media($mobile) {
            // color: $white;
            padding: 0;
        }
    }
    .moon-overlay-bg {
        position: absolute;
        top: -54px;
        left: 50%;

        min-width: 1024px;
        padding: 122px 0;
        margin-left: em(-480);

        @include media($mobile) {
            display: none;
        }
    }
    .moon {
        position: relative;
        z-index: 102;

        width: 100%;
        min-height: 1616px;

        background: url("../images/moon.png") center top no-repeat;

        @include media($mobile) {
            background: none;
        }
    }
    .earth {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 90;

        width: 383px;
        height: 382px;

        background: url("../images/earth.png") center no-repeat;
    }
    .rocket {
        position: absolute;
        top: -170px;
        right: 100px;
        z-index: 101;

        width: 122px;
        height: 123px;

        background: url("../images/moon-rocket.png") center no-repeat;
    }
    .astronaut {
        position: absolute;
        top: -150px;
        left: 10px;

        width: 185px;
        height: 293px;

        background: url("../images/astronaut.png") center no-repeat;
    }
}


.lt-description {
    padding-bottom: 80px;

    font-size: 14px;

    text-align: center;

    @include span-columns(6);
    @include shift(3);
    @include media($mobile) {
        color: $white;

        @include span-columns(5);
        @include shift(.5);
    }
}

.lt-list {
    padding: 0;
    margin: 0;
    li {
        position: relative;

        height: 390px;
        padding-top: 140px;

        background: url("../images/bg-lt.png") center no-repeat;
        background-size: 100%;

        @include span-columns(4);
        @include omega(3n);
        // outline: yellow dotted;
        @include media($mobile) {
            @include span-columns(5);
            @include shift(.5);
        }

        h3 {
            font-size: 15px;
            font-weight: bold;

            text-align: center;
            text-transform: uppercase;
        }

        p {
            padding: 0 35px;

            font-size: 14px;
            line-height: 22px;

            text-align: center;
        }

        .lt-picture {
            position: absolute;
            top: -30px;
            left: 50%;

            width: 231px;
            height: 154;
            margin-left: -115px;
            img {
                width: 100%;
            }
        }
    }
}

.lt-obs {
    display: none;
    padding-top: 0;
    margin-top: 37px;

    font-size: 13px;

    text-align: center;

    @include span-columns(12);
    // color: red;
    @include media($mobile) {
        margin-top: 45px;

        color: $white;

        @include span-columns(5);
        @include shift(.5);
    }
}

.see-more-lts {
    display: inline-block;
    width: 70%;
    height: 52px;
    margin-top: 30px;
    margin-bottom: 110px;

    font-size: 16px;
    font-weight: bold;
    line-height: 52px;

    transition: 300ms;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #1abc9c;
}


.btn-lt {
    position: relative;
    top: 6px;
    left: 8px;
    z-index: 6;

    display: inline-block;
    width: 329px;
    height: 55px;

    font-weight: bold;
    line-height: 50px;

    transition: all 500ms;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: $white;
    background-color: #1abc9c;
    // @include media($mobile) {
    //   top: -10px;
    //   left: 12px;
    //   width: 305px;
    // }

    a {
        font-size: 16px;
        font-weight: bold;

        text-transform: uppercase;

        color: $white;
    }

    &::after,
    &::before {
        position: absolute;

        width: 0;
        height: 0;

        content: " ";
    }
    &::after {
        top: -5px;
        right: -0;

        transition: all 500ms;

        border-top: 5px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid #17a286;

        // top: -18px;
        // right: -2px;
        // border-top: 15px solid transparent;
        // border-left: 15px solid #17A286;
        // border-bottom: 8px solid transparent;
        // border-right: 0px solid transparent;
        // transition: all 500ms;
        // transform: rotate(27deg);
    }

    &::before {
        top: -5px;
        left: -0;

        transition: all 500ms;

        border-top: 5px solid transparent;
        border-right: 15px solid #17a286;
        border-bottom: 0 solid transparent;


        // top: -18px;
        // left: -2px;
        // border-top: 15px solid transparent;
        // border-right: 15px solid #17A286;
        // border-bottom: 8px solid transparent;
        // border-left: 0px solid transparent;
        // transition: all 500ms;
        // transform: rotate(-29deg);
    }

    &:hover {
        background-color: #f2c600;
        &::after {
            border-left: 15px solid #ddb607;
        }
        &::before {
            border-right: 15px solid #ddb607;
        }
    }
}

// Media Queries


@include iphone3 {
    .lt-list {
        li {
            margin-top: 20px;
            margin-bottom: 20px;
            h3 {
                margin-top: 0;
                margin-bottom: 8px;
            }
            p {
                height: 72px;
                padding: 0 35px;
                overflow: hidden;

                font-size: 12px;
                line-height: 18px;
                // outline: red solid;
            }
        }
    }

    .btn-lt {
        top: 0;
        left: 0;

        width: 100%;
        margin-left: 0;
    }
}

@include iphone4 {
    .lt-list {
        li {
            margin-top: 20px;
            margin-bottom: 20px;
            h3 {
                margin-top: 0;
                margin-bottom: 8px;
            }
            p {
                height: 72px;
                padding: 0 35px;
                overflow: hidden;

                font-size: 12px;
                line-height: 18px;
                // outline: red solid;
            }
        }
    }

    .btn-lt {
        top: 0;
        left: 0;

        width: 100%;
        margin-left: 0;
    }
}

@include iphone5 {
    .lt-list {
        li {
            margin-top: 20px;
            margin-bottom: 20px;
            h3 {
                margin-top: 0;
                margin-bottom: 8px;
            }
            p {
                height: 72px;
                padding: 0 35px;
                overflow: hidden;

                font-size: 12px;
                line-height: 18px;
                // outline: red solid;
            }
        }
    }

    .btn-lt {
        top: 0;
        left: 0;

        width: 100%;
        margin-left: 0;
    }
}

@include iphone6 {
    .lt-list {
        li {
            margin-top: 20px;
            margin-bottom: 20px;
            h3 {
                margin-top: 0;
                margin-bottom: 8px;
            }
            p {
                height: 74px;
                padding: 0 35px;
                overflow: hidden;

                font-size: 15px;
                // outline: red solid;
                line-height: 19px;
            }
        }
    }

    .btn-lt {
        top: 0;
        left: 0;

        width: 100%;
        margin-left: 0;
    }
}

@include iphone6-plus {
    .lt-list {
        li {
            margin-top: 20px;
            margin-bottom: 20px;
            h3 {
                margin-top: 0;
                margin-bottom: 8px;
            }
            p {
                height: 74px;
                padding: 0 35px;
                overflow: hidden;

                font-size: 15px;
                // outline: red solid;
                line-height: 19px;
            }
        }
    }

    .btn-lt {
        top: 0;
        left: 0;

        width: 100%;
        margin-left: 0;
    }
}


.confirmed {
    .btn-lt {
        background-color: #f2c600;
        &::after {
            border-left: 15px solid #ddb607;
        }
        &::before {
            border-right: 15px solid #ddb607;
        }
    }
}
