.location {
  position: relative;
  z-index: 300;
  clear: both;
  outline: red solid; //Temp
}

.location-wrapper {
}

.location-box {
  margin: 70px 0;
  background: #1aba9c url('../images/bg-location.jpg') no-repeat left center;
  height: 660px;
}

.contact-info {
  width: 50%;
  float: left;
}
.map {
  width: 50%;
  float: left;
}

.contact-box {
  min-width: 587px;
  float: right;
  .logo-contato {
    padding-top: 94px;
  }
  .address {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #2c3e50;
    padding-top: 20px;
    text-transform: uppercase;
    img {
      float: left;
      margin-right: 20px;
      margin-top: 4px;
    }
  }
  h3 {
    color: #2c3e50;
    font-size: 35px;
    font-weight: 300;
    border-top: #fff 1px solid;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-right: 100px;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .outside-description {
    color: $white;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 12px;
  }

  .hotel-list {
    li {
      background: url('../images/small-pin.png') no-repeat center left;
      padding: 8px 0 8px 30px;
      a {
        color: #2c3e50;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        .money {
          background: url('../images/money.png') no-repeat center;
          width: 21px;
          height: 20px;
          display: inline-block;
        }
      }
    }
  }
}