.organizers-wrapper {
  @include outer-container;
}
.organizers {
  background: #0c1123 url('../images/bg-organizers.jpg') center top fixed no-repeat;
  padding-top: 283px;
  padding-bottom: 130px;
  position: relative;

  .satelite {
    background: transparent url('../images/satelite.png') right top no-repeat;
    width: 214px;
    height: 171px;
    position: absolute;
    right: 50px;
    top: 200px;
    display: block;
    @include media($mobile) {
        display: none;
    }
  }

  .section-title {
    color: #ffffff;
  }
  .top-cloud {
    background: url('../images/top-clouds.png') center top repeat-x;
    position: absolute;
    height: 201px;
    width: 100%;
    top: 0px;
    left: 0;
  }
}

.organizers-list {
  margin-top: 110px;

  >li {
    @include span-columns(3);
    @include omega(5n);
    width: 18.1%;
    background: #f5f2ef;
    position: relative;
    padding-bottom: 20px;


    .name {
      font-size: 28px;
      color: #2c3e50;
      padding: 10px 33px 0 20px;
      display: inline-block;
      line-height: 28px;
      margin-bottom: 10px;
      font-weight: 300;
    }
    .job {
      font-weight: 400;
      font-size: 13px;
      padding: 0 20px;
      text-transform: uppercase;
      color: #1abc9c;
      margin-bottom: 20px;
      display: inline-block;
    }

    .social-links {
      position: relative;
      height: 43px;
      width: 70%;
      margin: 0 auto;
      >li {
        @include omega(3n);
        margin-bottom: 4px;
      }
    }


    @include media($medium-screen-up) {
      // @include span-columns(1);
      @include omega(3n);


      float: left;
      display: block;
      margin-right: 5.42297%;
      margin-bottom: 5.42297%;
      width: 29.432772%;


    }


    @include media($mobile) {
        @include span-columns(6);
        margin-bottom: 20px;
        height: 160px;

        img {
          float: left;
          width: 50%;
          display: inline-block;
          object-fit: cover;
          height: 160px;
        }

        .name {
          // background: #ccc;
          float: right;
          width: 50%;
          display: inline-block;
          font-size: 20px;
          line-height: 20px;
          font-weight: 400;
          margin-bottom: 0;
          padding: 15px 20px 4px;
        }

        .job {
          // background: #999;
          float: right;
          width: 50%;
          display: inline-block;
          margin-bottom: 0;
        }

        .social-links {
          width: 50%;
          float: left;
          padding: 22px 0 20px 20px;
        }

    }
  }
}

.organizers-contact-info {
  display: inline-block;
  width: 100%;
  text-align: center;
  top: 60px;
  position: relative;
  color: $white;
  h2 {
    color: $white;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
  }

  a {
    color: #f2c600;
    font-size: 14px;
    text-transform: uppercase;
  }
}
