.register {

}
.register-wrapper {
  @include outer-container;
}


.register-price-list {
  margin-top: 110px;
  li {
    @include span-columns(4);
    @include omega(3n);
    background: #f5f2ef;
    text-align: center;
    &.disabled {
      opacity: 0.3;
    }
    .price {
      font-size: 35px;
      color: #2c3e50;
      text-align: center;
      border-bottom: #1abc9c 1px solid;
      padding: 40px 80px;
      display: inline-block;
      margin-bottom: 20px;
      font-weight: 300;
      letter-spacing: 11px;
    }
    .valid {
      text-transform: uppercase;
      color: #1abc9c;
      margin-bottom: 20px;
      display: inline-block;
      font-weight: 700;
    }
  }
}

.register-header-box {
  background: #1abc9c;
  height: 52px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;

  .ending {
    height: 52px;
    background: #e84b3d;
    display: inline-block;
    float: right;
    padding: 0 20px;
  }
}

.register-now {
  background: #1abc9c;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  height: 52px;
  line-height: 52px;
  margin-bottom: 110px;
}
