.speakers {
  padding-top: 50px;
  position: relative;
  z-index: 300;
}
.speakers-wrapper {
  // @include outer-container;
  padding: 0 2%;
  max-width: 1480px;
  position: relative;
  margin: 0 auto;
}

.speaker-list {
  @include row();
  @include fill-parent();
  margin-top: 100px;
  .speaker-item {
    @include span-columns(6);
    background-color: #172838;
    @include omega(2n);
    @include calc(width, "50% - 1px");
    min-width: 540px;
    position: relative;

    @include media($mobile) {
      @include span-columns(4);
    }

    .speaker-profile-picture {
      width: 50%;
      height: 100%;
      display: block;
      float: left;
      position: relative;
      @include media($mobile) {
        @include span-columns(4);
      }
      &>img {
        display: block;
      }
      .hover-profile-picture {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(26, 188, 156, 0.7);
        background-repeat: no-repeat;
        background-position: center;
        @include transition(opacity 0.2s ease-in-out);
      }
    }
    .speaker-profile-informations {
      width: 50%;
      float: left;
      padding: 16px 12px 12px 25px;
      color: #fff;
      position: relative;
      @include media($mobile) {
        @include span-columns(4);
      }
      .speaker-name {
        font-size: 25px;
        font-weight: 100;
        color: #fff;
        display: block;
      }
      .speaker-job {
        font-weight: bold;
        font-size: 13px;
        color: #1abc9c;
        display: block;
        text-transform: uppercase;
      }
      .speaker-description {
        font-size: 12px;
        line-height: 19px;
        display: block;
        padding-top: 6px;
        // letter-spacing: 1px;
      }
    }

      .social-links {
        position: absolute;
        top: 180px;
        left: 25px;
        li {
          &.keynote {
            display: none; // Habilitar quando finalizar o evento.
          }
        }
      }

    &:hover {
      .hover-profile-picture {
        opacity: 1;
      }
    }

  }
  .speaker-item:nth-child(1n) {
    margin: 0 1px 1px 0;
  }
}
