    .social-links {
      li {
        width: 43px;
        height: 43px;
        float: left;
        margin-right: 4px;
        a {
          text-indent: -9000px;
          display: block;
          height: 100%;
          width: 100%;
        }
        &.keynote {
          background: url('../images/icon-social-micro-slideshare.png') center no-repeat;
          @include btn-hover(#f2c600,#e98325);
          width: 102px;
        }
        &.twitter {
          background: url('../images/icon-social-micro-twitter.png') no-repeat center;
          @include btn-hover(#1abc9c,#00acee);
        }
        &.facebook {
          background: url('../images/icon-social-micro-facebook.png') no-repeat center;
          @include btn-hover(#1abc9c,#3b5998);
        }
        &.linkedin {
          background: url('../images/icon-social-micro-linkedin.png') no-repeat center;
          @include btn-hover(#1abc9c,#0077b5);
        }
      }
    }
    