    .social-links {
      li {
        width: 43px;
        height: 43px;
        float: left;
        margin-right: 4px;
        a {
          text-indent: -9000px;
          display: block;
          height: 100%;
          width: 100%;
        }
        &.keynote {
          background: #f2c600 url('../images/icon-social-micro-slideshare.png') center no-repeat;
          width: 102px;
        }
        &.twitter {
          background: #1abc9c url('../images/icon-social-micro-twitter.png') no-repeat center;
        }
        &.facebook {
          background: #1abc9c url('../images/icon-social-micro-facebook.png') no-repeat center;
        }
        &.linkedin {
          background: #1abc9c url('../images/icon-social-micro-linkedin.png') no-repeat center;
        }
      }
    }